<!-- CSS found in _game.scss -->

<div class="game-nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to "Best Slots Sites", slots_best_path, class: "btn btn-game-nav" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to "New Slots Sites", slots_new_path, class: "btn btn-game-nav" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to "All Slots Sites", slots_all_path, class: "btn btn-game-nav" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to "How Slots Work", slots_rules_path, class: "btn btn-game-nav" %>
      </div>
    </div>
  </div>
</div>

<div class="game-body game-body-slots">
  <div class="game-body-main">
    <div class="game-body-main-details">

    </div>
  </div>


  <%= render 'shared/right_menu' %>
</div>


<%= link_to "play sunny", slot_sites_play_sunny_path, class: "navbar-wagon-item navbar-wagon-link" %>
<%= link_to "spin rider", slot_sites_spin_rider_path, class: "navbar-wagon-item navbar-wagon-link" %>
<%= link_to "spinit", slot_sites_spinit_path, class: "navbar-wagon-item navbar-wagon-link" %>
<%= link_to "sloty", slot_sites_sloty_path, class: "navbar-wagon-item navbar-wagon-link" %>
<%= link_to "starspins", slot_sites_starspins_path, class: "navbar-wagon-item navbar-wagon-link" %>
<%= link_to "videoslots", slot_sites_videoslots_path, class: "navbar-wagon-item navbar-wagon-link" %>
<%= link_to "casimba", slot_sites_casimba_path, class: "navbar-wagon-item navbar-wagon-link" %>
<%= link_to "spin and win", slot_sites_spin_and_win_path, class: "navbar-wagon-item navbar-wagon-link" %>
<%= link_to "slot planet", slot_sites_slot_planet_path, class: "navbar-wagon-item navbar-wagon-link" %>
<%= link_to "casino heroes", slot_sites_casino_heroes_path, class: "navbar-wagon-item navbar-wagon-link" %>
