<!-- CSS found in _game.scss -->

<div class="game-nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to "Best Casino Sites", casino_best_path, class: "btn btn-game-nav" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to "New Casino Sites", casino_new_path, class: "btn btn-game-nav" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to "All Casino Sites", casino_all_path, class: "btn btn-game-nav" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to "Casino Game Rules", casino_rules_path, class: "btn btn-game-nav" %>
      </div>
    </div>
  </div>
</div>

<div class="game-body game-body-casino">
  <div class="game-body-main">
    <div class="game-body-main-details">

    </div>
  </div>


  <%= render 'shared/right_menu' %>
</div>


<%= link_to "_888_casino", casino_sites__888_casino_path, class: "navbar-wagon-item navbar-wagon-link" %>
<%= link_to "mansion_casino", casino_sites_mansion_casino_path, class: "navbar-wagon-item navbar-wagon-link" %>
<%= link_to "royal_panda", casino_sites_royal_panda_path, class: "navbar-wagon-item navbar-wagon-link" %>
<%= link_to "_32red", casino_sites__32red_path, class: "navbar-wagon-item navbar-wagon-link" %>
<%= link_to "grosvenor_casinos", casino_sites_grosvenor_casinos_path, class: "navbar-wagon-item navbar-wagon-link" %>
<%= link_to "casumo", casino_sites_casumo_path, class: "navbar-wagon-item navbar-wagon-link" %>
<%= link_to "leo_vegas", casino_sites_leo_vegas_path, class: "navbar-wagon-item navbar-wagon-link" %>
<%= link_to "betway_casino", casino_sites_betway_casino_path, class: "navbar-wagon-item navbar-wagon-link" %>
<%= link_to "bet_victor", casino_sites_bet_victor_path, class: "navbar-wagon-item navbar-wagon-link" %>
<%= link_to "netbet_casino", casino_sites_netbet_casino_path, class: "navbar-wagon-item navbar-wagon-link" %>
