<%= link_to "Articles", articles_path, class: "btn btn-articles" %>
<div class="footer-which">
  <div class="footer-content">
  <div class="container">

    <div class="row align-items-center">
      <%= link_to "About", corporate_about_path, class: "footer-links col-xs-12 col-md-offset-1 col-md-2" %>
      <%= link_to "Contact", corporate_contact_path, class: "footer-links col-xs-12 col-md-2" %>
      <%= link_to "Terms of Use", corporate_terms_path, class: "footer-links col-xs-12 col-md-2" %>
      <%= link_to "Privacy", corporate_privacy_path, class: "footer-links col-xs-12 col-md-2" %>
      <%= link_to "Gamble Responsibly", corporate_responsible_path, class: "footer-links col-xs-12 col-md-2" %>
    </div>
    <div class="row">
      <div class="disclaimer col-xs-12 col-md-6">
        <p>No part of this site, or the sites mentioned here, are intended for the use of persons under the age of 18. You must be over 18 to gamble.  All offers mentioned are subject to the terms and conditions of the individual sites and are not guaranteed by WhichCasinoGame. Online gambling is illegal in some jurisdictions. The reviews and opinions provided here are those of WhichCasinoGame and as such may reflect our own subjectivity.</p>
        <p>Please gamble responsibly.</p>
        <p>Copyright Which Casino Game 2018.</p>
      </div>
      <div class="footer-logo-div col-xs-12 col-md-6">
        <%= link_to root_path, class: "footer-logo" do %>
          <%= image_tag "chip.png", height: 150 %>
        <% end %>
      </div>
    </div>

  </div>
  </div>
</div>
