<!-- CSS found in components/_right_menu.scss -->

<div class="right-menu hidden-xs">

  <div class="right_menu_box">
    <h5>Best Slots Sites</h5>
    <%= link_to "https://www.skybingo.com", target: :_blank, class: "right_menu_link" do %>
      <div class="right_menu_item">
        <div class="right_menu_logo">
          <%= image_tag "bingo_sites/sky_bingo.jpg", class: "right_menu_logo_image" %>
        </div>
        <div class="right_menu_name">
          <p>1. Sky Bingo</p>
        </div>
        <div class="right_menu_play">
          <i class="fa fa-play-circle"></i>
        </div>
      </div>
    <% end %>
    <%= link_to "https://www.skybingo.com", target: :_blank, class: "right_menu_link" do %>
      <div class="right_menu_item">
        <div class="right_menu_logo">
          <%= image_tag "bingo_sites/sky_bingo.jpg", class: "right_menu_logo_image" %>
        </div>
        <div class="right_menu_name">
          <p>2. Sky Bingo</p>
        </div>
        <div class="right_menu_play">
          <i class="fa fa-play-circle"></i>
        </div>
      </div>
    <% end %>
    <%= link_to "https://www.skybingo.com", target: :_blank, class: "right_menu_link" do %>
      <div class="right_menu_item">
        <div class="right_menu_logo">
          <%= image_tag "bingo_sites/sky_bingo.jpg", class: "right_menu_logo_image" %>
        </div>
        <div class="right_menu_name">
          <p>3. Sky Bingo</p>
        </div>
        <div class="right_menu_play">
          <i class="fa fa-play-circle"></i>
        </div>
      </div>
    <% end %>
  </div>

  <div class="right_menu_box">
    <h5>Best Live Casino Sites</h5>
    <%= link_to "https://www.skybingo.com", target: :_blank, class: "right_menu_link" do %>
      <div class="right_menu_item">
        <div class="right_menu_logo">
          <%= image_tag "bingo_sites/sky_bingo.jpg", class: "right_menu_logo_image" %>
        </div>
        <div class="right_menu_name">
          <p>1. Sky Bingo</p>
        </div>
        <div class="right_menu_play">
          <i class="fa fa-play-circle"></i>
        </div>
      </div>
    <% end %>
    <%= link_to "https://www.skybingo.com", target: :_blank, class: "right_menu_link" do %>
      <div class="right_menu_item">
        <div class="right_menu_logo">
          <%= image_tag "bingo_sites/sky_bingo.jpg", class: "right_menu_logo_image" %>
        </div>
        <div class="right_menu_name">
          <p>2. Sky Bingo</p>
        </div>
        <div class="right_menu_play">
          <i class="fa fa-play-circle"></i>
        </div>
      </div>
    <% end %>
    <%= link_to "https://www.skybingo.com", target: :_blank, class: "right_menu_link" do %>
      <div class="right_menu_item">
        <div class="right_menu_logo">
          <%= image_tag "bingo_sites/sky_bingo.jpg", class: "right_menu_logo_image" %>
        </div>
        <div class="right_menu_name">
          <p>3. Sky Bingo</p>
        </div>
        <div class="right_menu_play">
          <i class="fa fa-play-circle"></i>
        </div>
      </div>
    <% end %>
  </div>

  <div class="right_menu_box">
    <h5>Best Casino Sites</h5>
    <%= link_to "https://www.skybingo.com", target: :_blank, class: "right_menu_link" do %>
      <div class="right_menu_item">
        <div class="right_menu_logo">
          <%= image_tag "bingo_sites/sky_bingo.jpg", class: "right_menu_logo_image" %>
        </div>
        <div class="right_menu_name">
          <p>1. Sky Bingo</p>
        </div>
        <div class="right_menu_play">
          <i class="fa fa-play-circle"></i>
        </div>
      </div>
    <% end %>
    <%= link_to "https://www.skybingo.com", target: :_blank, class: "right_menu_link" do %>
      <div class="right_menu_item">
        <div class="right_menu_logo">
          <%= image_tag "bingo_sites/sky_bingo.jpg", class: "right_menu_logo_image" %>
        </div>
        <div class="right_menu_name">
          <p>2. Sky Bingo</p>
        </div>
        <div class="right_menu_play">
          <i class="fa fa-play-circle"></i>
        </div>
      </div>
    <% end %>
    <%= link_to "https://www.skybingo.com", target: :_blank, class: "right_menu_link" do %>
      <div class="right_menu_item">
        <div class="right_menu_logo">
          <%= image_tag "bingo_sites/sky_bingo.jpg", class: "right_menu_logo_image" %>
        </div>
        <div class="right_menu_name">
          <p>3. Sky Bingo</p>
        </div>
        <div class="right_menu_play">
          <i class="fa fa-play-circle"></i>
        </div>
      </div>
    <% end %>
  </div>

  <div class="right_menu_box">
    <h5>Best Sports Sites</h5>
    <%= link_to "https://www.skybingo.com", target: :_blank, class: "right_menu_link" do %>
      <div class="right_menu_item">
        <div class="right_menu_logo">
          <%= image_tag "bingo_sites/sky_bingo.jpg", class: "right_menu_logo_image" %>
        </div>
        <div class="right_menu_name">
          <p>1. Sky Bingo</p>
        </div>
        <div class="right_menu_play">
          <i class="fa fa-play-circle"></i>
        </div>
      </div>
    <% end %>
    <%= link_to "https://www.skybingo.com", target: :_blank, class: "right_menu_link" do %>
      <div class="right_menu_item">
        <div class="right_menu_logo">
          <%= image_tag "bingo_sites/sky_bingo.jpg", class: "right_menu_logo_image" %>
        </div>
        <div class="right_menu_name">
          <p>2. Sky Bingo</p>
        </div>
        <div class="right_menu_play">
          <i class="fa fa-play-circle"></i>
        </div>
      </div>
    <% end %>
    <%= link_to "https://www.skybingo.com", target: :_blank, class: "right_menu_link" do %>
      <div class="right_menu_item">
        <div class="right_menu_logo">
          <%= image_tag "bingo_sites/sky_bingo.jpg", class: "right_menu_logo_image" %>
        </div>
        <div class="right_menu_name">
          <p>3. Sky Bingo</p>
        </div>
        <div class="right_menu_play">
          <i class="fa fa-play-circle"></i>
        </div>
      </div>
    <% end %>
  </div>

  <div class="right_menu_box">
    <h5>Best Bingo Sites</h5>
    <%= link_to "https://www.skybingo.com", target: :_blank, class: "right_menu_link" do %>
      <div class="right_menu_item">
        <div class="right_menu_logo">
          <%= image_tag "bingo_sites/sky_bingo.jpg", class: "right_menu_logo_image" %>
        </div>
        <div class="right_menu_name">
          <p>1. Sky Bingo</p>
        </div>
        <div class="right_menu_play">
          <i class="fa fa-play-circle"></i>
        </div>
      </div>
    <% end %>
    <%= link_to "https://www.skybingo.com", target: :_blank, class: "right_menu_link" do %>
      <div class="right_menu_item">
        <div class="right_menu_logo">
          <%= image_tag "bingo_sites/sky_bingo.jpg", class: "right_menu_logo_image" %>
        </div>
        <div class="right_menu_name">
          <p>2. Sky Bingo</p>
        </div>
        <div class="right_menu_play">
          <i class="fa fa-play-circle"></i>
        </div>
      </div>
    <% end %>
    <%= link_to "https://www.skybingo.com", target: :_blank, class: "right_menu_link" do %>
      <div class="right_menu_item">
        <div class="right_menu_logo">
          <%= image_tag "bingo_sites/sky_bingo.jpg", class: "right_menu_logo_image" %>
        </div>
        <div class="right_menu_name">
          <p>3. Sky Bingo</p>
        </div>
        <div class="right_menu_play">
          <i class="fa fa-play-circle"></i>
        </div>
      </div>
    <% end %>
  </div>

</div>
