<!-- CSS found in _game.scss -->

<div class="game-nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to "Best Live Casino Sites", live_casino_best_path, class: "btn btn-game-nav" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to "New Live Casino Sites", live_casino_new_path, class: "btn btn-game-nav" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to "All Live Casino Sites", live_casino_all_path, class: "btn btn-game-nav" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to "Casino Game Rules", casino_rules_path, class: "btn btn-game-nav" %>
      </div>
    </div>
  </div>
</div>

<div class="game-body game-body-casino">
  <div class="game-body-main">
    <div class="game-body-main-details">

      <h3 style="margin-top: 0;">The newest Live Casino sites available</h3>
      <hr>
      <div class="game-body-main-site">
        <div class="container">
          <div class="row" style="text-align: center;">
            <div class="col-xs-12 col-md-6">
              <%= link_to "https://www.skybingo.com", target: :_blank do %>
                <%= image_tag "bingo_sites/sky_bingo.jpg", class: "game-body-main-image" %>
              <% end %>
            </div>
            <div class="col-xs-12 col-md-6">
              <p>Sky Bingo - Spend £10 and play with £60</p>
            </div>
            <div class="col-xs-12">
              <%= link_to "Read More", bingo_sites_sky_bingo_path, class: "btn btn-read-more" %>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="game-body-main-site">
        <div class="container">
          <div class="row" style="text-align: center;">
            <div class="col-xs-12 col-md-6">
              <%= link_to "https://www.skybingo.com", target: :_blank do %>
                <%= image_tag "bingo_sites/sky_bingo.jpg", class: "game-body-main-image" %>
              <% end %>
            </div>
            <div class="col-xs-12 col-md-6">
              <p>Sky Bingo - Spend £10 and play with £60</p>
            </div>
            <div class="col-xs-12">
              <%= link_to "Read More", bingo_sites_sky_bingo_path, class: "btn btn-read-more" %>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="game-body-main-site">
        <div class="container">
          <div class="row" style="text-align: center;">
            <div class="col-xs-12 col-md-6">
              <%= link_to "https://www.skybingo.com", target: :_blank do %>
                <%= image_tag "bingo_sites/sky_bingo.jpg", class: "game-body-main-image" %>
              <% end %>
            </div>
            <div class="col-xs-12 col-md-6">
              <p>Sky Bingo - Spend £10 and play with £60</p>
            </div>
            <div class="col-xs-12">
              <%= link_to "Read More", bingo_sites_sky_bingo_path, class: "btn btn-read-more" %>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="game-body-main-site">
        <div class="container">
          <div class="row" style="text-align: center;">
            <div class="col-xs-12 col-md-6">
              <%= link_to "https://www.skybingo.com", target: :_blank do %>
                <%= image_tag "bingo_sites/sky_bingo.jpg", class: "game-body-main-image" %>
              <% end %>
            </div>
            <div class="col-xs-12 col-md-6">
              <p>Sky Bingo - Spend £10 and play with £60</p>
            </div>
            <div class="col-xs-12">
              <%= link_to "Read More", bingo_sites_sky_bingo_path, class: "btn btn-read-more" %>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="game-body-main-site">
        <div class="container">
          <div class="row" style="text-align: center;">
            <div class="col-xs-12 col-md-6">
              <%= link_to "https://www.skybingo.com", target: :_blank do %>
                <%= image_tag "bingo_sites/sky_bingo.jpg", class: "game-body-main-image" %>
              <% end %>
            </div>
            <div class="col-xs-12 col-md-6">
              <p>Sky Bingo - Spend £10 and play with £60</p>
            </div>
            <div class="col-xs-12">
              <%= link_to "Read More", bingo_sites_sky_bingo_path, class: "btn btn-read-more" %>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="game-body-main-site">
        <div class="container">
          <div class="row" style="text-align: center;">
            <div class="col-xs-12 col-md-6">
              <%= link_to "https://www.skybingo.com", target: :_blank do %>
                <%= image_tag "bingo_sites/sky_bingo.jpg", class: "game-body-main-image" %>
              <% end %>
            </div>
            <div class="col-xs-12 col-md-6">
              <p>Sky Bingo - Spend £10 and play with £60</p>
            </div>
            <div class="col-xs-12">
              <%= link_to "Read More", bingo_sites_sky_bingo_path, class: "btn btn-read-more" %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <%= render 'shared/right_menu' %>
</div>
